.navbar{
  transition: opacity 0.5s;
}
.navbar:hover{
  opacity: 100;
}


.skills-container{
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #5FB9D2;
    color: black;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 150px;
    transition: all 0.25s ease-out;
}

.about-me-text{
    font-family: "Paytone One";
    color: #202020;
    text-transform: uppercase;
    letter-spacing: -2px;
    display: block;
    margin: 11px 0 17px 0;
    font-size: 80px;
    line-height: 80px;
    color: #e4f3fb;
    /* text-shadow: 0 13.36px 8.896px #1A191A,0 -2px 1px black; */
    letter-spacing: 2px;
}


  .item-1:hover,
  .item-1:active{
    color:green;
}